/* Font Selections */
@font-face {
    font-family:'sourceSans';
    src: url('fonts/SourceSans3-Regular.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sourceSansItalic';
    src: url('fonts/SourceSans3-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sourceSansBold';
    src: url('fonts/SourceSans3-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sourceSansBoldItalic';
    src: url('fonts/SourceSans3-BoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Custom Reset */

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
    font: inherit;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

ol, ul {
    list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* Root Styles */
:root {
    --color-0: #ffffff;
    --color-50: #ecfdf5;
    --color-100: #d1fae5;
    --color-200: #a7f3d0;
    --color-300: #6ee7b7;
    --color-400: #34d399;
    --color-500: #10b981;
    --color-600: #059669;
    --color-700: #047857;
    --color-800: #065f46;
    --color-900: #064e3b;
    --color-950: #022c22;
  }

  /* Page Styling */
body {
    width: 100vw;
    height: 100vh;
    font-family: 'sourceSans', Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

/* Header Styling */
.header {
    background-color: var(--color-50);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 4rem;
}

.header > * {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.header > div > * {
    margin: 0 1rem;
}

.icon {
    background-color: transparent;
    width: 1.5rem;
    margin-right: 1rem;
}

.search-bar {
    border: none;
    border-radius: 2rem;
    height: 2rem;
    width: 32rem;
    background-color: var(--color-100);
}

.search-btn {
    width: 2rem;
    height: 2rem;
    background-image: url(icons/search.svg);
    border: none;
}

.profile-section {
    display: flex;
    justify-content: center;
}

.user-icon {
    background-color: transparent;
    border: 1px solid var(--color-100);
    border-radius: 4rem;
    width: 6rem;
    height: 6rem;
}

.user-btn {
    background-color: transparent;
    border: 1px solid var(--color-200);
    border-radius: 4rem;
    width: 3rem;
    height: 3rem;
}

.button-section {
    display: flex;
    justify-content: center;
    padding-right: 1.5rem;
}

.btn {
    width: 6rem;
    height: 3rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--color-600);
    color: var(--color-100);
    font-weight: bold;
}

.profile-name {
    font-size: 1rem;
    font-weight: bold;
}

.greeting-text {
    font-size: 1rem;
}

.user-name {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Sidebar Styling */
.sidebar {
    background-color: var(--color-500);
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: auto 2fr 3fr;
    color: var(--color-50);
    padding: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    padding-bottom: 3rem;
}

.dashboard-icon {
    width: 2.5rem;
    filter: invert();
}

.logo-icon {
    width: 2rem;
    filter: invert();
    margin: 0 1.5rem 0 0.25rem;
}

.logo h1 {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 1.2rem;
}

.sidebar li {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 1rem 1rem 0;
}

.sidebar nav a {
    color: #ecfdf5;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar nav a:hover {
    color: #6ee7b7;
}

/* Main content styling */

.main {
    background-color: var(--color-100);
    display: grid;
    padding: 4rem;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

.main-section {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.section-title {
    font-family: 'sourcesSansBold', Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.projects {
    height: 90%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.project-card {
    padding: 2rem;
    background: var(--color-0);
    border-left: 7px solid var(--color-400);
    border-radius: 1rem;
    display: grid;
    grid-template-rows: auto 1fr;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-family: 'sourceSansBold', Arial, sans-serif;
    font-weight: bold;
}

.card-content {
    font-size: 1rem;
}

.project-card > :last-child {
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
}

.anno-section {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.announcements, .trend-container {
    background-color: var(--color-0);
    border-radius: 0.5rem;
    padding: 2rem 3rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.announcement-item {
    padding: 1.2rem 0;
    border-bottom: 1px solid var(--color-700);
}

.announcements > :first-child {
    padding-top: 0;
}

.announcements > :last-child {
    padding-bottom: 0;
    border: none;
}

.anno-title {
    font-size: 1.4rem;
    font-weight: bold;
}

.anno-content, .user-item {
    font-size: 1.2rem;
}

.trending-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.trend-item {
    padding-bottom: 1.5rem;
    display: flex;
}

.trend-container > :last-child {
    padding-bottom: 0;
}

.trend-item > img {
    margin-right: 1.2rem;
}

.card-content {
    line-height: 1.6rem;
}

.anno-content, .user-name {
    line-height: 1.4rem;
}